.contacts {
  display: flex;
  justify-content: space-between;
  @include min-width(sm) {
    flex-direction: row-reverse;
  }

  &__messenger {
    display: flex;
    align-items: center;
  }

  &__messenger-icon {
    width: 22px;
    height: 22px;
    margin: 7px;
    @include min-width(sm) {
      width: 26px;
      height: 26px;
      margin: 10px;
    }
    @include min-width(md) {
      width: 30px;
      height: 30px;
      margin: 11px;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: $HelveticaNeueCyr;
    font-weight: 550;
    font-size: 14px;
    line-height: 130%;
    @include min-width(sm) {
      padding-left: 27px;
      font-size: 18px;
    }
    @include min-width(md) {
      padding-left: 40px;
      font-size: 22px;
    }

  }

  &__phone-basic {
    padding-right: 7px;
  }

  &__phone-other {
    display: none;
    @include min-width(sm) {
      display: block;
    }
  }
}