.feedback {
  padding-top: 100px;
  @include min-width(md) {
    padding-top: 100px;
  }

  &__title {
    font-family: $CormorantGaramond;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 110%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #333333;
    @include min-width(sm) {
      font-size: 30px;
      line-height: 100%;
    }
    @include min-width(md) {
      font-size: 36px;
    }
  }


  &__reviews {
    position: relative;
    padding-top: 50px;
    @include min-width(sm) {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
    }

    &--reverse {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

  }

  &__video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.22%;
    @include min-width(sm) {
      width: 299px;
    }
    @include min-width(md) {
      width: 500px;
    }

    &--iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }

  }

  &__blockquote {
    position: relative;
    padding: 20px 0 40px;
    font-family: $HelveticaNeueCyr;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 130%;
    color: #333333;
    @include min-width(sm){
      max-width: 220px;
      margin-left: 80px;
      padding-top: 30px;
    }
    @include min-width(md) {
      max-width: 360px;
      margin-left: 140px;
      font-size: 18px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 1px;
      background: #B71C1C;
      @include min-width(sm) {
        top: 40px;
        left: -70px;
      }

    }
  }

  &__explanation {
    padding-top: 12px;
    font-family: $HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
    @include min-width(sm) {
      position: absolute;
      max-width: 298px;
    }
    @include min-width(md) {
      max-width: 500px;
      left: 600px;
      bottom: 60px;
      font-size: 16px;
    }

    &--reverse {
      @include min-width(md) {
        left: 70px;
        bottom: 60px;
      }
    }

  }


  &__maps {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    @include min-width(sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 15px;
    }
    @include min-width(md) {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 40px;
    }


  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #333333;
  }

  &__logo {
    margin: 20px 0;
  }

  &__star {
    font-family: $HelveticaNeueCyr;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
  }

  &__link {
    margin: 16px 0 20px;
    font-family: $HelveticaNeueCyr;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #333333;

    &:hover {
      text-decoration: none;
      color: #B71C1C;
    }
  }
}

