.header {
  position: sticky;
  top: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 999;
  @include min-width(sm) {
    padding-top: 33px
  }
  @include min-width(md) {
    padding-top: 35px;
    flex-wrap: wrap;
    position: static;
  }
}