.logo {
  display: flex;

  &__image {
    width: 60px;
    height: 36px;

    @include min-width(sm) {
      width: 80px;
      height: 48px;
    }

    @include min-width(md) {
      width: 100px;
      height: 60px;
    }
  }

  &__title {
    display: none;

    @include min-width(md) {
      display: block;
      padding-left: 20px;
      font-family: $HelveticaNeueCyr;
      font-size: 14px;
      line-height: 130%;
    }
  }
}
