.menu {
  display: flex;
  align-items: center;
  white-space:nowrap;


  @include min-width(md) {
    margin-top: 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
  }

  &__item{
    padding: 0 20px;
  }

  &__list {
    display: none;

    @include min-width(md){
      margin: auto;
      max-width: 810px;
      padding: 20px 0;
      display: flex;
      list-style: none;
      font-family: $HelveticaNeueCyr;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__disclose{
    padding-left: 11px;
  }

  &__link {
    color: #FFFFFF;
  }

  &__button {
    display: block;
    margin: 0;
    border: none;
    background-color: transparent;

    @include min-width(md){
      display: none;
    }
  }

  &__icon {
    display: block;
    stroke: #333; //задаю color для элементов SVG

    @include min-width(md){
     display: none;
    }
  }

  // конд ниже не знаю как красивше расписать, для появления крестика

    .menu__icon-menu,
    .menu__button--open .menu__icon-cross {
      display: block;
    }

    .menu__icon-cross,
    .menu__button--open .menu__icon-menu {
      display: none;
    }

}