.menu {
  display: flex;
  align-items: center;
  white-space: nowrap;
  @include min-width(md) {
    margin-top: 35px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
  }

  &__item {
    padding: 0 20px;
  }

  &__list {
    display: none;
    @include min-width(md) {
      margin: auto;
      max-width: 810px;
      padding: 20px 0;
      display: flex;
      list-style: none;
      font-family: $HelveticaNeueCyr;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__disclose {
    &:after{
      content: '';
      position: relative;
      top:0.75em;
      left: 11px;
      border: 5px solid transparent;
      border-top: 8px solid white;
    }
  }

  &__link {
    color: #FFFFFF;
  }

  &__button {
    display: block;
    margin: 0;
    border: none;
    background-color: transparent;
    @include min-width(md) {
      display: none;
    }
  }

  &__button--open {
    .menu__icon-cross {
      display: block;
    }
    .menu__icon-menu {
      display: none;
    }
  }

  &__icon-menu {
    display: block;
  }

  &__icon-cross {
    display: none;
  }

  &__icon {
    display: block;
    stroke: #333; //задаю color для элементов SVG
    @include min-width(md) {
      display: none;
    }
  }
}