
@media (min-width: 769px){
.menu{
  grid-column: 1/4;
  grid-row: 2/3;
  background-color: #333;

}
}
@media (max-width: 768px){
  .menu{
 align-items: center;

  }
  }



.menu__list{
  margin: auto;
  max-width: 810px;
  padding:  20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  font-family: $HelveticaNeueCyr;
  font-size: 14px;
  line-height: 130%;
  text-align: center;

}

.menu__link{
  color: #FFFFFF;
}
@media (min-width: 769px){
  .menu__button{
    display: none;
  }
}
@media (max-width: 768px){
  .menu__list{
    display: none;
  }
}
  @media (max-width: 768px) {
    .menu__button {
      display: block;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
    }
    .menu__icon {
      display: block;
      stroke: #333;                  //задаю color для элементов SVG
    }

    .menu__icon-menu,
    .menu__button--open .menu__icon-cross {
      display: block;
    }

    .menu__icon-cross,
    .menu__button--open .menu__icon-menu{
      display: none;
    }
  
}