.visit {
  display: none;
  @include min-width(sm) {
    display: flex;
    justify-content: space-around;
    font-family: $HelveticaNeueCyr;
    font-size: 12px;
    line-height: 130%;
  }

  &__time {
    display: none;
    @include min-width(md) {
      display: block;
      padding-left: 60px;
    }
  }
}

