$breakpoints: (
        sm: 576px,
        md: 992px,
        xl: 1200px,
);

$CormorantGaramond: 'Cormorant Garamond', sans-serif; //400
$HelveticaNeueCyr: 'HelveticaNeueCyr', sans-serif; //400, 550
$Inter: 'Inter', sans-serif; //500

