* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #333;
}

body {
  background: #fff;
  width: 100%;
 }

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

.contain {
  max-width: 1180px;
  margin: 0 auto;
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 0;

}

.grey{
  color: #888;
}

